{% load static %}
<html>

<title> Rest API </title>
<head>
    <link rel = "stylesheet" href= "{% static 'css/wel.css' %}"></head>
<body>
    <center>
               <h1> Welcome to Django REST Framework </h> </br>
                <h2>You can acess perticuler API respose using the following URL</h2>
                <p> 

    Function based API: </br>
    http://127.0.0.1:8000/funapi </br>
    http://127.0.0.1:8000/funapi/1 </br></br>
    
    

    Class based API </br>
    http://127.0.0.1:8000/clsapi</br>
    http://127.0.0.1:8000//clsapi/1</br></br>
  

   
   Generic Based API</br>
   http://127.0.0.1:8000/genapi</br>
   http://127.0.0.1:8000//genapi/1</br></br>
 


     
    GenricMixins Based API </br>
    http://127.0.0.1:8000/genmixapi</br>
    http://127.0.0.1:8000/genmixapi/1</br></br>
    
    </p>
              

    <center>
    </div>
</body>
</html>

